@media(max-width:767px) {
  .section__3-imge-container {
    margin: 0 auto;
    margin-top: 15px;
  }

  .section__3-bl1-name-container {
    height: 5%;
  }
.name-email {
  flex-direction: column;
   align-items: center;
}
.email-cnt {
  margin-top: 15px;
}
  .texter-cnt {
 align-items: center;
  }
.txter {
  width: 300px;
}
.search {
  display: none;
}
}
@media(min-width:768px) {
  .container {
    max-width: 720px;
  }
  
}
  

@media(min-width:992px) {
  .container {
    max-width: 960px;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
 flex: 0 0 25%;
 max-width: 25%;
  }
  .col-md-4 {
   flex: 0 0 33.333%;
   max-width: 33.333%;
  }
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-7 {
    flex: 0 0 58.331%;
    max-width: 58.331%;
  }
    .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
}

@media(min-width:1200px) {
  .container {
    max-width: 1140px;
  }
 
}

@media(max-width:990px) {
   .section__2-row {
     flex-direction: column;
     display: flex;
   }
   .button,
   .input-search {
     display: none;
   }
   .section__3-imge-container {
     margin: 0 auto;
     margin-top: 15px;
   }
   .section__3-bl1-name-container {
     height: 8%;
   }
   .section__4-bl2 {
     flex-direction: column;
   }
   
   
}



@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
.button {
  transform: translate(340%, -100%);
  line-height: 21px;
}
 .section__3-imge-container {
   margin: 0 auto;
   margin-top: 15px;
 }

 .section__3-bl1-name-container {
   height: 8%;
 }
 .section__4-imge4,
 .section__4-imge5,
 .section__4-imge6 {
   margin-bottom: 30px;
 }
 .section__4-bl2 {
   margin: 0 auto;
   /* margin-top: 15px; */
 }
 .section__6-box {
margin: 0 auto;
margin-bottom: 20px;
 }
 .ftr-content {
   flex-direction:column;
   align-items: center;
   justify-content: center;
 }
 .footer-text {
   margin-top: 0px;
   width: 75%;
   margin: 0 auto;
   text-align: center;
 }
 .ftr-cnt-ico {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 75%;

 }

 .sect-7-content {
   flex-direction: column;
   align-items: center;
 }
 .sec__7-bl3 {
position: static;

 }
 .name-cnt {
   margin-right: 10px;
 }
.sec__7-bl2 {
   padding-bottom: 50px;
    align-items: center;
}

}
@media (max-width: 1350px) {
  html {
    font-size: 7px;
  }
.button {
  line-height: 21px;
}
  .visible-lg {
    display: none;
  }

  .m-menu-link {
    display: block;
  }

}
@media(max-width:400px) {
[class*="section__4-imge"] {
  width: 300px;
  margin: 0 auto;
}
.img-wrap {
  width: 300px;
  height: 100%;
}
.bl-hiden {
   margin-top: 67%;
}
.sec-6-img {
  width: 290px;
 
}
.section__6-box {
  width: 300px;
 
}
}
