* {
  box-sizing: border-box;
}

body {
  min-height: 1500px;
  font-family: "Quattrocento Sans";
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.header {
  background-color: #1d2126;
  padding: 15px 0;
  position:sticky;
  top: 0;
  z-index: 10;
}
.logo {
   display: flex;
   align-items: center;
}
.header-ul {
 
  
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content:space-around;
}
.header-ul a {
 text-decoration: none;
}
.header-li a {
 
   color: #a4aead;
   background-color: #ffffff00;
}

.header-li {
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  color: #a4aead;
  border: 2px solid #ffffff00;
  background-color: #ffffff00;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  
}
.header-li:hover {
  border: 2px solid #23b7a4;
  color: #23b7a4;
  transition: 0.2s;
   border: 2px solid #5b6168;
}
.search {
 /* justify-content: center; */
  align-items: center;
  display: flex;
  position: relative;
}
.input-search {
  height: 30px;
  width: 80%;
  background-color: #ffffff;
  opacity: 0.5;
  border-top: 2px solid #5b6168;
  border-left: 2px solid #5b6168;
  border-bottom: 2px solid #5b6168;
  border-right: 2px solid rgba(0, 0, 0, 0);
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.search::placeholder {
  color: #a4aead;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.ic-serch {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  background-image: url("img/icon-search.png");
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.button {
  width: 30px;
  height: 30px;
 
  background-color: rgba(0, 0, 0, 0);
  border-top: 2px solid #5b6168;
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-right: 2px solid #5b6168;
  border-bottom: 2px solid #5b6168;
  opacity: 0.5;
  transform: translate(420%, -100%);
  position: absolute;
}
.section {
  display: flex;
  align-items: center;
  background-image: url("img/bg-section1.png");
  min-height: 660px;
  background-repeat: no-repeat;
 max-width: 1900px;
 margin: 0 auto;
}
.section-content-name {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section-content-text {
  color: #ccd0d7;
  font-size: 16px;
  font-weight: 400;
  width: 57%;
  margin-bottom: 40px;
}
.section-btn {
  width: 120px;
  height: 40px;

  border: 2px solid #ffffff;
  background-color: #ffffff00;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.2s;
  margin-right: 10px;
}
.section-btn:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}
.section__2 {
  display: flex;
  background-color: white;
  padding-bottom: 90px ;
}
.bl1 {
  display: flex;
  flex-direction: column;
}
.section__2-bl1-name-container {
  
  display: flex;
  margin-bottom: 25px;
}
.section__2-bl1-before-name {
  width: 10px;
  height: 35px;
  background-color: #e1e6ea;
}

.section__2-bl1-name {
  margin-left: 10px;
  color: #292f36;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__2-bl1-text1 {
  color: #8d8f92;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 90%;
}

.section__2-bl1-text2 {
  color: #8d8f92;
  font-size: 16px;
  font-weight: 400;
 
  max-width: 90%;
}

.section__2-bl1-text2-bold {
  font-weight: 700;
}

.section__2-bl1-icons {
  display: flex;
  flex-flow: row nowrap;
 margin-top: 50px;
}


.ico:hover {
  background-color: #d8dfe2;

}

.ico {
  text-align: center;
  padding-top: 5px;
  margin-right: 2px;
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
}

.section__2 {
  padding-top: 70px;
}
.section__2-bl2-content1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}
.bl2 {
  display: flex;
  flex-direction: column;
  padding-top: 35px;

}

.section__2-bl2-box {
  width: 50px;
  height: 50px;
  background-color: #23b7a4;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;

}

.section__2-bl2-name {
  margin-bottom: 10px;

  width: 100%;
  font-size: 18px;
  font-weight: 700;
  
  text-transform: uppercase;
  color: #292f36;
}
.section__2-bl2-wrap {
  width: 80%;
  margin-left: 15px;

}

.section__2-bl2-text {
  color: #8d8f92;
  font-size: 16px;
  font-weight: 400;
}

.section__2-bl2-content2 {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 40px;
}

.section__2-bl2-content3 {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 40px;
}

.section__3 {
  display: flex;
  padding-top: 70px;
  padding-bottom: 130px;
  background-color: white;
 align-items: center;
 flex-direction: column;
 border-top: 2px solid #e1e6ea;
}


.section__3-bl1-before-name {
  width: 10px;
  height: 35px;
  background-color: #e1e6ea;
}

.section__3-bl1-name {
  margin-left: 10px;
  color: #292f36;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;

}

.section__3-bl1-name-container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section__3-imges {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  background-color: white;
  justify-content: space-between;
}
.section__3-imge1 {
  background-image: url("img/section3-img1.png");
  width: 263px;
  height: 300px;
}
.section__3-imge2 {
  background-image: url("img/section3-img2.png");
  width: 263px;
  height: 300px;
}
.section__3-imge3 {
  background-image: url("img/section3-img3.png");
  width: 263px;
  height: 300px;
}
.section__3-imge4 {
  background-image: url("img/section3-img4.png");
  width: 263px;
  height: 300px;
 
}
.section__3-bold-text {
  color: #292f36;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 20px;
}

.section__3-text {
  color: #8d8f92;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.section__3-imge-container {
  margin-bottom: 10px;
  background-color: #e1e6ea;
  position: relative;
}
.section__3-hiden {
  height: 78%;
  width: 100%;
  background-color: #e1e6ea;
  opacity: 0.4;
  display: none;
  position: absolute;
  top: 0;
}

.section__3-cnt-ico {
  width: 155px;
  height: 50px;
  background-color: #ffffff00;
  display: none;
  
  position: absolute;
  top: 125px;
 left: 20%;
}
.section__3-imge-container:hover .section__3-hiden {
display: block;
}
.section__3-imge-container:hover .section__3-cnt-ico {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section__3-imge-container:hover  {
 background-color:#3a454d;
}
.section__3-imge-container:hover .section__3-bold-text {
  color: #e1e6ea;
}
.section__3-imge-container:hover .section__3-text {
color: #e1e6ea;
}
.section__3-icons {
  width: 50px;
  height: 50px;
  background-color: #3a454d;
}
.section__3-icons:hover {
  background-color: #4e5a62;
}


.m-menu-link {
  display: none;
  color: #ffffff;
  font-size: 3rem;
  margin: 15px 0 ;
}

.m-header-ul {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  list-style: none;
  font-size: 3rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
  background-color: #1d2126;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
}

.close-menu {
  position: fixed;
  right: 5rem;
  top: 0;
  font-size: 5rem;
  font-weight: 900;
  color: #ffffff;
  transition: 0.2s;

}

.m-menu__active {
  transform: translateX(0%);
}
.close-menu:hover {
  cursor: pointer;
}
.section__4 {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #3a454d;
}
.section__4-column {
  display: flex;
  flex-direction:column;
}
.section__4-bl2 {
  display: flex;
  align-items: center;
  align-content: space-around;
  
  flex-flow: row wrap;
  justify-content: space-between;
}
.section__4-imge1 {
  background-image: url("img/section__4-img1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img-wrap {
 position: relative;
 width: 360px;
 height: 265px;
  margin-bottom: 30px;
}
.section__4-hiden {
  height: 100%;
  width: 100%;
 background-color: #292f36;
 opacity: 0.5;
  display: none;
  position: absolute;
  top: 0;
}
.bl-hiden {
  width: 100%;
  height: 25%;
  background-color:#292f36;
  margin-top: 59%;
   position: absolute;
   display: none;
    top: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 25px;
}

.section__4-cnt-ico {
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  top: 35%;
  left: 45%;
}

.img-wrap:hover .section__4-hiden {
  display: block;
}
.img-wrap:hover .bl-hiden {
  display: block;
}

.img-wrap:hover .section__4-cnt-ico {
  display: block;
}

/* .section__4-imge1:hover {
  background-color: #3a454d;
} */






.section__4-imge2 {
  background-image: url("img/section__4-img2.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 265px;
   margin-bottom: 30px;
}

.section__4-imge3 {
  background-image: url("img/section__4-img3.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 265px;
   margin-bottom: 30px;
}

.section__4-imge4 {
  background-image: url("img/section__4-img4.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 265px;

}

.section__4-imge5 {
  background-image: url("img/section__4-img5.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 265px;
 
}

.section__4-imge6 {
  background-image: url("img/section__4-img6.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 265px;

}
.section__4-bl1-name-container {
  margin-bottom: 60px;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.section__4-bl1-before-name {
  width: 10px;
  height: 35px;
  background-color: #4e5a62;
}

.section__4-bl1-name {
  margin-left: 10px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.section__4-bl3 {
margin: 0 auto;
margin-top: 60px;
}
.section__4-button {
width: 147px;
height: 40px;
border: 2px solid #ffffff;
background-color: #ffffff00;
color: #ffffff;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
border-radius: 4px;
}
.section__4-button:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}
.section__5 {
  background-color:#ffffff;
  padding-top: 70px;
  padding-bottom: 90px;
}
.section__5-box {
  width: 255px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-bottom: 80px;
}
.box-img {
  width: 48px;
  height: 48px;
  margin-bottom: 40px;
}
.box-name {
color: #292f36;
font-size: 17px;
font-weight: 700;
text-transform: uppercase;
 margin-bottom: 30px;
}
.box-text {
  color: #8d8f92;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.section__6 {
   background-color:#3a454d;
    padding-top: 70px;
    padding-bottom: 90px;
}
.clr-white-txt {
  color: white;
  margin-bottom: 60px;
}

.clr-grey-bl {
  background-color: #4e5a62;
}
.section__6-bl2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

}
.sec-6-img {
  width: 360px;
  height: 240px;
}
.section__6-box {
  width: 360px;
  height: 430px;
}

.box-names {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}
.box-texts {
  color: #dcdfe1;
  font-size: 16px;
  font-weight: 400;
}
.section__7-name {
  padding: 70px 0;
  background-color: #ffffff;
}

.sect-bg {
  background-image: url("img/sec-7-bg.png");
  width: 100%;
  height: 345px;
}
.sect-7-content {
  display: flex;
  flex-direction: row;
  position: relative;
}
.sec__7-bl3 {
  width: 555px;
  height: 400px;
  background-color: #ffffff;
  position: absolute;
  top: -130px;
  left: 570px;
  padding: 30px;
}
.name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name-cnt {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 65px;
}
.email-cnt {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 65px;
}
.texter-cnt {
  display: flex;
  flex-direction: column;
}
.txter {
  width: 495px;
  height: 159px;
  resize: none;
}
.label {
  color: #8d8f92;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
} 
.form-btn {
  margin-top: 30px;
  border-radius: 5px;
}
.l-texter {
 margin-top: 30px;
}
.inp-text {
  width: 240px;
  height: 44px;
}
.sec__7-input {
  background-color: #eaeef1;
  border-radius: 5px;
 border: none;
}
.sec__7-btn {
  width: 147px;
  height: 40px;
  border: 2px solid #23b7a4;
  background-color: #23b7a4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.sec__7-btn:hover {
  border: 2px solid#eaeef1;
  background-color: #eaeef1;
  color: #23b7a4;
}
.sec__7-bl2 {
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.second-name {
  color: #292f36;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.sec__7-text {
  color: #8d8f92;
  font-size: 16px;
  font-weight: 400;
  max-width: 535px;
}
.text-br {
margin-bottom: 30px ;
}
.text-bold {
  font-weight: 700;
}




.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3a454d;
}
.ftr-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.footer-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
margin-top: 20px;
width: 80%;
}
.ftr-cnt-ico {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;

}
